<form [formGroup]="addOrderForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="client">Client</label>
    <select
      name="client_id"
      id="client"
      class="form-control"
      formControlName="client_id"
    >
      <option
        *ngFor="let client of clientService.allClients()"
        value={{client.id}}
      >
      {{client.name}}
      </option>
    </select>
        <div *ngIf="addOrderForm.controls['client_id'].invalid &&
                        (addOrderForm.controls['client_id'].dirty ||
                         addOrderForm.controls['client_id'].touched)">
          <app-alert
            *ngIf="addOrderForm.controls['client_id'].errors?.['required']"
            type="error"
            message="This filed is required"
          >
          </app-alert>
        </div>
  </div>

  <div class="form-group">
    <label for="courier">Courier</label>
    <select
      name="courier"
      id="courier"
      class="form-control"
      formControlName="courier"
    >
      <option value="dhl">DHL</option>
      <option value="inpost">Inpost</option>
      <option value="dpd">DPD</option>
    </select>
      <div *ngIf="addOrderForm.controls['courier'].invalid &&
                              (addOrderForm.controls['courier'].dirty ||
                                addOrderForm.controls['courier'].touched)">
        <app-alert *ngIf="addOrderForm.controls['courier'].errors?.['required']" type="error"
          message="This filed is required">
        </app-alert>
      </div>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input
      type="string"
      name="address"
      id="address"
      class="form-control"
      formControlName="address"
    >
      <div *ngIf="addOrderForm.controls['address'].invalid &&
                              (addOrderForm.controls['address'].dirty ||
                                addOrderForm.controls['address'].touched)">
        <app-alert *ngIf="addOrderForm.controls['address'].errors?.['required']" type="error"
          message="This filed is required">
        </app-alert>
        <app-alert *ngIf="addOrderForm.controls['address'].errors?.['minlength']" type="error"
          message="This filed must contain min 6 chars">
        </app-alert>
      </div>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input
      type="string"
      name="phone"
      id="phone"
      class="form-control"
      formControlName="phone"
    >
    <div *ngIf="addOrderForm.controls['phone'].invalid &&
                            (addOrderForm.controls['phone'].dirty ||
                              addOrderForm.controls['phone'].touched)">
      <app-alert *ngIf="addOrderForm.controls['phone'].errors?.['required']" type="error"
        message="This filed is required">
      </app-alert>
      <app-alert *ngIf="addOrderForm.controls['phone'].errors?.['pattern']" type="error"
        message="This is not correct phone number">
      </app-alert>
    </div>
  </div>
  <div class="form-group">
    <label for="salesChannel">Sales Channel</label>
    <select
      name="salesChannel"
      id="salesChannel"
      class="form-control"
      formControlName="salesChannel"
    >
      <option value="shopOnline">Shop online</option>
      <option value="facebok">Facebook</option>
    </select>
    <div *ngIf="addOrderForm.controls['salesChannel'].invalid &&
                            (addOrderForm.controls['salesChannel'].dirty ||
                              addOrderForm.controls['salesChannel'].touched)">
      <app-alert *ngIf="addOrderForm.controls['salesChannel'].errors?.['required']" type="error"
        message="This filed is required">
      </app-alert>
    </div>
  </div>
  <button type="submit"
    [disabled]="addOrderForm.pristine || addOrderForm.invalid">
    Submit
</button>
</form>
