<app-forms-order></app-forms-order>
<div class="row">
  <div class="col-12">
    <button class="btn btn-light" (click)="goBack()">Go back</button>
  </div>
</div>
<form [formGroup]="addClientForm" (ngSubmit)="onSubmit()">
<div class="form-group">
  <label for="name">Name: </label>
  <input id="name" type="text" class="form-control" formControlName="name">
    <div *ngIf="addClientForm.controls['name'].invalid &&
                (addClientForm.controls['name'].dirty ||
                 addClientForm.controls['name'].touched)">

      <app-alert
        *ngIf="addClientForm.controls['name'].errors?.['required']"
        type="error"
        message="Name is required">
      </app-alert>

      <app-alert
        *ngIf="addClientForm.controls['name'].errors?.['minlength']"
        type="error"
        message="This field must contains min 5 chars">
      </app-alert>

      <app-alert
        *ngIf="addClientForm.controls['name'].errors?.['maxlength']"
        type="error"
        message="This field can contains max 45 chars">
      </app-alert>

    </div>
</div>
<div class="form-group">
  <label for="city">City: </label>
  <input id="city" type="text" class="form-control" formControlName="city">
      <div *ngIf="addClientForm.controls['city'].invalid &&
                      (addClientForm.controls['city'].dirty ||
                       addClientForm.controls['city'].touched)">

        <app-alert
          *ngIf="addClientForm.controls['city'].errors?.['required']"
          type="error"
          message="City is required">
        </app-alert>

        <app-alert
          *ngIf="addClientForm.controls['city'].errors?.['minlength']"
          type="error"
          message="This field must contains min 4 chars">
        </app-alert>

        <app-alert
          *ngIf="addClientForm.controls['city'].errors?.['maxlength']"
          type="error"
          message="This field can contains max 40 chars"
          >
        </app-alert>

      </div>
</div>
<div class="form-group">
  <label for="streetNumber">Street number: </label>
  <input id="streetNumber" type="text" class="form-control" formControlName="streetNumber">
    <div *ngIf="addClientForm.controls['streetNumber'].invalid &&
                            (addClientForm.controls['streetNumber'].dirty ||
                              addClientForm.controls['streetNumber'].touched)">

      <app-alert
        *ngIf="addClientForm.controls['streetNumber'].errors?.['required']"
        type="error"
        message="Street number is required">
      </app-alert>

      <app-alert
        *ngIf="addClientForm.controls['streetNumber'].errors?.['maxlength']"
        type="error"
        message="This field can contains max 4 chars">
      </app-alert>

    </div>
</div>
<div class="form-group">
  <label for="flatNumber">Flat number: </label>
  <input id="flatNumber" type="text" class="form-control" formControlName="flatNumber">
    <div *ngIf="addClientForm.controls['flatNumber'].invalid &&
                          (addClientForm.controls['flatNumber'].dirty ||
                          addClientForm.controls['flatNumber'].touched)">

      <app-alert
        *ngIf="addClientForm.controls['flatNumber'].errors?.['maxlength']"
        type="error"
        message="This field can contains max 4 chars">
      </app-alert>

    </div>
</div>
<div class="form-group">
  <label for="phoneNumber">Phone number: </label>
  <input id="phoneNumber" type="text" class="form-control" formControlName="phoneNumber">
      <div *ngIf="addClientForm.controls['phoneNumber'].invalid &&
                      (addClientForm.controls['phoneNumber'].dirty ||
                       addClientForm.controls['phoneNumber'].touched)">

          <app-alert
            *ngIf="addClientForm.controls['phoneNumber'].errors?.['pattern']"
            type="error"
            message="This is not correct phone number.">
          </app-alert>

      </div>
</div>
  <button type="submit" class="btn btn-primary"
    [disabled]="addClientForm.pristine || addClientForm.invalid">
    Submit
  </button>
</form>
