<div *ngIf="clientForm">
  <h2> {{ clientForm.controls['name'].value }}</h2>
  <button  class="btn btn-light" (click)="goBack()">Go back</button>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name: </label>
      <input id="name" type="text" class="form-control" formControlName="name">
      <div *ngIf="clientForm.controls['name'].invalid &&
                (clientForm.controls['name'].dirty ||
                 clientForm.controls['name'].touched)">

        <app-alert *ngIf="clientForm.controls['name'].errors?.['required']" type="error"
          message="Name is required">
        </app-alert>

        <app-alert *ngIf="clientForm.controls['name'].errors?.['minlength']" type="error"
          message="This field must contains min 5 chars">
        </app-alert>

        <app-alert *ngIf="clientForm.controls['name'].errors?.['maxlength']" type="error"
          message="This field can contains max 45 chars">
        </app-alert>

      </div>
    </div>
    <div class="form-group">
      <label for="city">City: </label>
      <input id="city" type="text" class="form-control" formControlName="city">
      <div *ngIf="clientForm.controls['city'].invalid &&
                      (clientForm.controls['city'].dirty ||
                       clientForm.controls['city'].touched)">

        <app-alert *ngIf="clientForm.controls['city'].errors?.['required']" type="error"
          message="City is required">
        </app-alert>

        <app-alert *ngIf="clientForm.controls['city'].errors?.['minlength']" type="error"
          message="This field must contains min 4 chars">
        </app-alert>

        <app-alert *ngIf="clientForm.controls['city'].errors?.['maxlength']" type="error"
          message="This field can contains max 40 chars">
        </app-alert>

      </div>
    </div>
    <div class="form-group">
      <label for="streetNumber">Street number: </label>
      <input id="streetNumber" type="text" class="form-control" formControlName="streetNumber">
      <div *ngIf="clientForm.controls['streetNumber'].invalid &&
                            (clientForm.controls['streetNumber'].dirty ||
                              clientForm.controls['streetNumber'].touched)">

        <app-alert *ngIf="clientForm.controls['streetNumber'].errors?.['required']" type="error"
          message="Street number is required">
        </app-alert>

        <app-alert *ngIf="clientForm.controls['streetNumber'].errors?.['maxlength']" type="error"
          message="This field can contains max 4 chars">
        </app-alert>

      </div>
    </div>
    <div class="form-group">
      <label for="flatNumber">Flat number: </label>
      <input id="flatNumber" type="text" class="form-control" formControlName="flatNumber">
      <div *ngIf="clientForm.controls['flatNumber'].invalid &&
                          (clientForm.controls['flatNumber'].dirty ||
                          clientForm.controls['flatNumber'].touched)">

        <app-alert *ngIf="clientForm.controls['flatNumber'].errors?.['maxlength']" type="error"
          message="This field can contains max 4 chars">
        </app-alert>

      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone number: </label>
      <input id="phoneNumber" type="text" class="form-control" formControlName="phoneNumber">
      <div *ngIf="clientForm.controls['phoneNumber'].invalid &&
                      (clientForm.controls['phoneNumber'].dirty ||
                       clientForm.controls['phoneNumber'].touched)">

        <app-alert *ngIf="clientForm.controls['phoneNumber'].errors?.['pattern']" type="error"
          message="This is not correct phone number.">
        </app-alert>

      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="clientForm.pristine || clientForm.invalid">
      Submit
    </button>
  </form>
</div>
