<button class="btn btn-primary" routerLink="/orders/new">Add new order</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Courier</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Sales channel</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderService.allOrders()">
      <th scope="row">{{order.id}}</th>
      <td>{{order.courier}}</td>
      <td>{{order.address}}</td>
      <td>{{order.phone}}</td>
      <td>{{order.salesChannel}}</td>
    </tr>
  </tbody>
</table>
