<form
  [formGroup]="productForm"
  (submit)="onSubmit()"

>
  <div class="row">
    <div class="col-12">
          <div *ngIf="productForm.controls['product_id'].invalid &&
                                            (productForm.controls['product_id'].dirty ||
                                              productForm.controls['product_id'].touched)">
            <app-alert *ngIf="productForm.controls['product_id'].errors?.['required']" type="error"
              message="The field Product is required">
            </app-alert>
          </div>
          <div *ngIf="productForm.controls['amount'].invalid &&
                                  (productForm.controls['amount'].dirty ||
                                   productForm.controls['amount'].touched)">
            <app-alert *ngIf="productForm.controls['amount'].errors?.['required']" type="error" message="The field Amount is required">
            </app-alert>
          </div>
          <div *ngIf="productForm.controls['price'].invalid &&
                                  (productForm.controls['price'].dirty ||
                                   productForm.controls['price'].touched)">
            <app-alert *ngIf="productForm.controls['price'].errors?.['required']" type="error" message="The field Price is required">
            </app-alert>
          </div>

    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <select
        class="form-control"
        formControlName="product_id"
        (change)="onProductChange($event)"

      >
        <option value>
          --Check Product--
        </option>
        <option
          value={{product.id}}
          *ngFor="let product of productService.allProducts()"
        >
        {{product.name}}
        </option>
      </select>

    </div>
    <div class="col-2">
      <input
        type="number"
        class="form-control"
        name="amount"
        formControlName="amount"
        placeholder="Amount"
        (change)="onAmountChange($event)"

      >
    </div>
    <div class="col-2">
      <input
        type="number"
        class="form-control"
        name="Price"
        formControlName="price"
        placeholder="Price"
      >
    </div>
    <div class="col-2">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="productForm.pristine || productForm.invalid"
      >
      Add
      </button>
    </div>
  </div>
</form>
