<div *ngIf="client">
  <button  (click)="goBack()">Go back</button>
  {{ updateClientForm.controls['name'].value }}
<form [formGroup]="updateClientForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name: </label>
    <input id="name" type="text" class="form-control" formControlName="name">
    <div *ngIf="updateClientForm.controls['name'].invalid &&
                (updateClientForm.controls['name'].dirty ||
                 updateClientForm.controls['name'].touched)">

      <app-alert *ngIf="updateClientForm.controls['name'].errors?.['required']" type="error" message="Name is required">
      </app-alert>

      <app-alert *ngIf="updateClientForm.controls['name'].errors?.['minlength']" type="error"
        message="This field must contains min 5 chars">
      </app-alert>

      <app-alert *ngIf="updateClientForm.controls['name'].errors?.['maxlength']" type="error"
        message="This field can contains max 45 chars">
      </app-alert>

    </div>
  </div>
  <div class="form-group">
    <label for="city">City: </label>
    <input id="city" type="text" class="form-control" formControlName="city">
    <div *ngIf="updateClientForm.controls['city'].invalid &&
                      (updateClientForm.controls['city'].dirty ||
                       updateClientForm.controls['city'].touched)">

      <app-alert *ngIf="updateClientForm.controls['city'].errors?.['required']" type="error" message="City is required">
      </app-alert>

      <app-alert *ngIf="updateClientForm.controls['city'].errors?.['minlength']" type="error"
        message="This field must contains min 4 chars">
      </app-alert>

      <app-alert *ngIf="updateClientForm.controls['city'].errors?.['maxlength']" type="error"
        message="This field can contains max 40 chars">
      </app-alert>

    </div>
  </div>
  <div class="form-group">
    <label for="streetNumber">Street number: </label>
    <input id="streetNumber" type="text" class="form-control" formControlName="streetNumber">
    <div *ngIf="updateClientForm.controls['streetNumber'].invalid &&
                            (updateClientForm.controls['streetNumber'].dirty ||
                              updateClientForm.controls['streetNumber'].touched)">

      <app-alert *ngIf="updateClientForm.controls['streetNumber'].errors?.['required']" type="error"
        message="Street number is required">
      </app-alert>

      <app-alert *ngIf="updateClientForm.controls['streetNumber'].errors?.['maxlength']" type="error"
        message="This field can contains max 4 chars">
      </app-alert>

    </div>
  </div>
  <div class="form-group">
    <label for="flatNumber">Flat number: </label>
    <input id="flatNumber" type="text" class="form-control" formControlName="flatNumber">
    <div *ngIf="updateClientForm.controls['flatNumber'].invalid &&
                          (updateClientForm.controls['flatNumber'].dirty ||
                          updateClientForm.controls['flatNumber'].touched)">

      <app-alert *ngIf="updateClientForm.controls['flatNumber'].errors?.['maxlength']" type="error"
        message="This field can contains max 4 chars">
      </app-alert>

    </div>
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone number: </label>
    <input id="phoneNumber" type="text" class="form-control" formControlName="phoneNumber">
    <div *ngIf="updateClientForm.controls['phoneNumber'].invalid &&
                      (updateClientForm.controls['phoneNumber'].dirty ||
                       updateClientForm.controls['phoneNumber'].touched)">

      <app-alert *ngIf="updateClientForm.controls['phoneNumber'].errors?.['pattern']" type="error"
        message="This is not correct phone number.">
      </app-alert>

    </div>
  </div>
  <button type="submit" [disabled]="updateClientForm.pristine || updateClientForm.invalid">
    Submit
  </button>
</form>
</div>
